
#footer {
	font-family: arial,helvetica,sans-serif;
	font-size: 11px;
	line-height: 1.8em;
}
#footer {
	background: #e5e5e5 url(//static.pubmed.gov/portal/portal3rc.fcgi/4068278/img/3418709) repeat-x scroll left top;
	clear: both;
	zoom: 1;
	z-index: 1;
}
#footer, .contact_info {
	color: #14376c;
	background-color: #fff;
	overflow: visible;
	text-align: center;
}
.shadow {
	-webkit-box-shadow: .4em .4em .5em rgba(153,153,153,.9);
	-moz-box-shadow: .4em .4em .5em rgba(153,153,153,.9);
	box-shadow: 0.4em 0.4em 0.5em rgba(153,153,153,0.9);
}
.shadow {
	-webkit-box-shadow: 0.4em 0.4em 0.5em rgba(0,0,0,.3);
	-moz-box-shadow: 0.4em 0.4em 0.5em rgba(0,0,0,.3);
	box-shadow: 0.4em 0.4em 0.5em rgba(0,0,0,0.3);
}
/*
.col {
	margin-right: 1%;
	margin-bottom: 2em;
	float: left;
	background-color: #fff;
	overflow: hidden;
}
.twelve_col {
	width: 98.99%;
}

*/
/* @media screen and (max-width:1200px) */


/*
body > .grid > .twelve_col {
	width: 100%;
}
.grid {
	font-size: 1.3em;
}
.grid {
	min-width: 800px;
	max-width: 1200px;
	width: 100%;
	clear: both;
	margin: 0 auto;
	text-align: left;
	overflow: hidden;
}
.grid {
	min-width: 800px;
	max-width: none;
	width: 100%;
	clear: both;
	margin: 0 auto;
	text-align: left;
}
body {
	font: 62.5%/1.3846 arial,helvetica,clean,sans-serif;
	background-color: #ccc;
	margin: 0;
}
.subfooter {
	margin-left: 1.6em;
	overflow: hidden;
	font-family: arial, helvetica, sans-serif;
}
.ui-helper-reset {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	line-height: 1.3;
	text-decoration: none;
	font-size: 100%;
	list-style: none;
}
.ui-helper-reset {
	font-size: 100% !important;
}
.ui-ncbipopper-wrapper {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 11;
	display: none;
}
.ui-ncbipopper-basic {
	border: 3px solid #3e72a6;
	background-color: #fff;
	color: #303030;
	padding: 1em;
	text-align: left;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

*/
#footer #external-disclaimer {
	padding: 0.682em;
	line-height: 1em;
}
.contact_info {
	clear: both;
	text-align: left;
	margin: 1em 1.6em;
}
#footer-contents-right {
	float: right;
	text-align: right;
}
p, table, pre, fieldset, dl {
	margin: 0.6923em 0;
}
#footer-contents-left p.address {
	margin: 0px;
	line-height: 18px;
}
#NCBIFooter_dynamic a, #footer a {
	text-decoration: none;
	color: #14376c;
}
#footer-contents-left a {
	font-weight: bold;
}
#footer-contents-left p.address .adr {
	display: block;
}
#footer-contents-left span.url a {
	font-weight: normal;
}
#footer-contents-right div {
	display: inline;
}
#footer-contents-right a {
	float: left;
	height: 41px;
	overflow: hidden;
	padding-top: 14px;
	text-indent: 10em;
}
#usagov_thumb_logo a {
	background: transparent url(/cxx-toolkit/static/img/footer_imgs.png) no-repeat scroll -114px 100%;
	width: 89px;
}
#hhs_thumb_logo a {
	background: transparent url(/cxx-toolkit/static/img/footer_imgs.png) no-repeat scroll -75px 100%;
	width: 39px;
	margin-right: 14px;
}
#nih_thumb_logo a {
	background: transparent url(/cxx-toolkit/static/img/footer_imgs.png) no-repeat scroll -35px 100%;
	width: 40px;
	margin-right: 14px;
}
#nlm_thumb_logo a {
	background: transparent url(/cxx-toolkit/static/img/footer_imgs.png) no-repeat scroll 0 100%;
	width: 34px;
	margin-right: 14px;
}
#footer #external-disclaimer a {
	text-decoration: underline;
}
h2, .h2 {
	font-size: 1.23em;
	line-height: 1.125;
	margin: 1.125em 0 .5625em;
}
h2, .h2 {
	color: #985735;
}
h2, .h2 {
	margin: 2.6em 0px 1em;
}
h2 {
	border-top: 1px solid rgb(151, 176, 200);
	padding-top: 0.9em;
}
.offscreen_noflow {
	float: left;
	text-indent: -9999em;
	_display: block;
	margin: 0;
	padding: 0;
	height: 0px;
}
.offscreen_noflow {
	float: left;
	text-indent: -9999em;
	_display: block;
	margin: 0;
	padding: 0;
	height: 0px;
}
.footer_title {
	padding: 5px;
}
ol, ul {
	margin: 0.6923em 1em 0.6923em inherit;
}
.foot_list {
	margin: 0;
	padding: 0;
	width: 20%;
	float: left;
	text-align: left;
	margin-top: 2em;
	width: 19\0%;
	*width:19%: ;
}
.foot_list li {
	list-style-type: none;
}
h3, .h3 {
	font-size: 1.07em;
	line-height: 1.2857;
	margin: 1.2856em 0 .6428em;
}
h3, .h3 {
	color: #724128;
}
h3, .h3 {
	margin: 2em 0px .5em;
}
.foot_list li h3 {
	text-transform: uppercase;
	margin: 0;
	margin-bottom: 0.05em;
}
#NCBIFooter_dynamic a:hover, #footer a:hover, .contact_info a:hover {
	text-decoration: underline;
}
h1, .h1 {
	font-size: 1.38em;
	line-height: 1.5;
	margin: 1em 0 .5em;
}
h1, .h1 {
	color: #000;
}
.footer_title h1 {
	color: #724128;
	text-align: center;
}

#footer a {
    text-decoration: none;
    color: #14376c;
}
#footer, .contact_info {
    color: #14376c;
    text-align: left;
}

