:root {
  --primary: white;
  --secondary: HSL(225, 6%, 51%);
  --base: #282F44;
  --base2: HSL(225, 6%, 21%);
  --text-color: HSL(225, 6%, 21%);
  --link-color: #093341;
}

html {
    font-size: 1em;
    line-height: 1.5;
    height: 100%;
}

body {
  margin: 0;
  padding: 0;
}


@supports(display: grid) {
  .notice {
    display: none;
  }
}


.hidden {
    display: none !important;
}
.text-center {
  text-align: center;
}




.container {
  display: grid;
  grid-template-areas:
    "header header"
    "content side"
    "footer footer";
  height: 100vh;
  grid-template-columns: 1fr 200px;
  grid-template-rows: auto 1fr auto;
  grid-gap: 10px;
}

header {
  grid-area: header;
}


main {
  grid-area: content;
  width: 100%;
  margin-left: 0.5rem;
  color: var(--primary);
}

aside {
  grid-area: side;
  margin-right: 0.5rem;
  color: var(--primary);
}

footer {
  grid-area: footer;
  color: var(--primary);
}

@media (max-width: 768px) {
  .container {
    grid-template-areas:
      "header"
      "nav"
      "content"
      "side"
      "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto minmax(75px, auto) 1fr minmax(75px, auto) auto;
  }
  aside {
    margin: 0;
  }
}
