html{font-family:'PT Sans',sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body{margin:0}
footer,header,main{display:block}
[hidden]{display:none}
a{background-color:transparent}
a:active,a:hover{outline:0}
h1{font-size:2em;margin:.67em 0}
pre{overflow:auto}
pre{font-family:monospace,monospace;font-size:1em}*,:after,:before{box-sizing:inherit}
html{position:relative;box-sizing:border-box;min-height:100%;background:#fff;color:#222;font-size:1em;line-height:1.4}
body{margin-bottom:543px}a,h1,h2{transition:all .3s ease-in-out;outline:0 none}
a{color:#00afc9;text-decoration:none}
a:hover{color:#008396}.clearfix:after,.clearfix:before{content:" ";display:table}.clearfix:after{clear:both}
.container{margin-right:auto;margin-left:auto;min-width:992px;max-width:992px}
.header{position:fixed;z-index:1000;padding-top:4px;width:100%;height:53px;border-top:8px solid #376186;background-color:#003663;color:#fff}
.header-spacer{height:73px}
.header-post__title{display:block;float:left;overflow:hidden;padding-top:4px;width:470px;text-overflow:ellipsis;white-space:nowrap;font-size:18px}
.footer{position:absolute;bottom:0;min-height:50px;width:100%;border-top:2px solid #55ca03;background-color:#003663;color:#fff;font-size:12px;line-height:28px}
.footer a{color:inherit}
.footer a:hover{color:#55ca03}
.content{float:left;width:672px}
.content__title{margin:0 0 10px 0;font-weight:700;line-height:1.2}
.content__title a{color:inherit}
.content__title a:hover{color:#003663;text-decoration:underline}
h1.content__title{margin-bottom:20px;font-size:36px}
h2.content__title{font-size:32px}
h3.content__title{font-size:26px}
h4.content__title{font-size:20px}
h5.content__title{font-size:18px}
.content__text{font-size:19px}.content__text h2,.content__text h3,.content__text h4,.content__text h5{margin:0 0 1em 0;font-weight:700;line-height:1.2}
.content__text h2{font-size:32px}.content__text h3{font-size:26px}.content__text h4{font-size:20px}
.content__text h5{font-size:18px}
.sidebar{float:left;width:320px}
.sidebar--right{padding-left:20px}
.sidebar__link{display:block;margin-bottom:20px;padding:0 10px;color:#000;font-size:18px;line-height:1.2}
.sidebar__link:hover{color:inherit;text-decoration:underline}.sidebar__scroll{margin-bottom:20px;width:300px;height:800px}
.float-right{float:right}
.text-right{text-align:right}@media (min-width:1180px){.container{max-width:1140px}.header-post__title{width:610px}.content{width:820px}.sidebar__scroll{width:310px}}
