
#tkb_public {
	padding-top: 20px;
}

.portlet {
	border-top: .4em solid #97b0c8;
	padding-top: 0.46em;
	margin: .769em 0 2.154em 0;
	overflow: visible;
	line-height: 1.23em;
	zoom: 1;
}
.portlet_head {
	margin-bottom: 0.46em;
	position: relative;
}
.portlet_content {
	position: relative;
	margin: 0;
}
ol, ul {
	margin: 0.6923em 1em 0.6923em inherit;
}
.portlet ul {
	margin: 0;
	padding: 0;
}
.portlet ul li {
	list-style-type: none;
	margin-top: 0.46em;
	border-bottom: 1px dotted #CCC;
	padding-bottom: 1px;
	position: relative;
	overflow: visible;
	zoom: 1;
}

.portlet ul a {
	_display: block;
	_float: left;
	_clear: left;
}
.portlet ul li a {
	font-weight: normal;
	color: #14376c;
	text-decoration: none;
}
.sensor_title {
	margin-right: 2em;
}
.portlet_title {
	margin-right: 2em;
	font-size: 1.4em;
	color: #985735;
	font-weight: bold;
	display: inline;
}

.portlet ul li a:hover, .portlet ul li a:active {
	border-bottom: 0;
}

p, pre, fieldset, dl {
	margin: 0.6923em 0;
}
table {
	border-collapse: collapse;
	margin: 0;
}
thead {
	border-bottom: 1px solid #eee;
}
th {
	text-align: center;
	background-color: #f0f0f0;
	padding: 0.2em;
	border: 1px solid #ddd;
}
td {
	padding: 0.2em;
	border: 1px solid #ddd;
}
