
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>NCBE C++ Taalket Baak</title>
        <meta name="description" content="A comprehensive manual on the NCBI C++ toolkit, including its design and development framework, a C++ library reference, software examples and demos, FAQs and release notes.">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/book/static/css/grid_test.css">
        <link xmlns="http://www.w3.org/1999/xhtml" type="text/css" rel="stylesheet" href="/book/default_files/3579733.css" xml:base="http://127.0.0.1/sites/static/header_footer">
        <link xmlns="http://www.w3.org/1999/xhtml" type="text/css" rel="stylesheet" href="/book/default_files/3529739.css" media="print" xml:base="http://127.0.0.1/sites/static/header_footer">        
        
    </head>
    <body>
      <div class="notice">Your browser doesn't support CSS Grid Layout. Unfortunately, you won't be able to see the Book.
      </div>
    <div class="container">
      <header>
          <div class="wrap"><div class="page">
        {% include header.html %}
        </div></div>
              </header>
        
      <nav>
        Navigation
      </nav>

      <main>
        {{ content }}
      </main>

      <aside>
        {% include sidebar.html %}
      </aside>

      <footer>
        <p>© 2016 GridLayout.io</p>
      </footer>
    </div>

     
    </body>
</html>
