
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>NCBE C++ Taalket Baak</title>
        <meta name="description" content="A comprehensive manual on the NCBI C++ toolkit, including its design and development framework, a C++ library reference, software examples and demos, FAQs and release notes.">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- jQuery library -->
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


        <!-- external_resources begin -->
	    <script type="text/javascript" src="/book/default_files/jig.js"></script>
        <link rel="stylesheet" type="text/css" href="/book/default_files/jig.css">
        <script type="text/javascript" src="/book/default_files/jquery.js"></script>
        <link type="text/css" rel="stylesheet" href="/book/default_files/jquery.css">
        
        <link rel="stylesheet" href="/book/static/css/grid_test.css">
        
        
        <!-- inherited TODO: remove unused css, optimize, etc. -->
        <link xmlns="http://www.w3.org/1999/xhtml" type="text/css" rel="stylesheet" href="/book/default_files/3579733.css" xml:base="http://127.0.0.1/sites/static/header_footer">
        <link xmlns="http://www.w3.org/1999/xhtml" type="text/css" rel="stylesheet" href="/book/default_files/3529739.css" media="print" xml:base="http://127.0.0.1/sites/static/header_footer">        
        <link type="text/css" rel="stylesheet" href="/book/default_files/4005757.css">
        <link type="text/css" rel="stylesheet" href="/book/default_files/3529739_002.css" media="print">

	    <link rel="stylesheet" href="/book/static/css/min-base.css" type="text/css">
        
    </head>
    <body style="width: auto; float: none;">
	    
    <header class="header position-fixed" style="top: 0px;">
      <div style="position: relative;" >
        <!-- { % include header.html % } -->
	    <h1>HEADER</h1>
	    </div>
    </header>

    <div class="header-spacer "></div>
    


    <div class="main-container container clearfix post">

 	<div class="content clearfix" id="main-content">
			
        <div class="post-wrap wrapidpost" style="min-height: 80%;" ><div class="post_content">
        {{ content }}
     </div> 
        </div> 
      </div>

    
      <div class="sidebar sidebar--right sidebar--simple" style="min-height: 22px;">
  	    <div class="clearfix is-sticky" style="width: 300px; position: fixed; top: 55px;">
        <!-- { % include sidebar.html % } -->
		    <h1>SIDEBAR</h1>
</div>
	</div>


  </div>


        


<footer class="footer js-mediator-footer">
	<div class="container">
        <!-- { % include footer.html % } -->
		<h1>FOOTER</h1>
</div>
</footer>

    </body>
</html>
